* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.main {
    padding-top: 100px;
    text-align: center;
}

.area {

    color: rgb(0, 0, 0);
}

#result {
    padding-top: 10px;
    color: #ff4800;
    font-weight:bolder ;
}

label {
    display: block;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 200px;
    text-align: center;
}

input[type="button"] {
    height: 40px;
    width: 90px;
    border-radius: 40%;
    border-color: black;
}

.btn{
    padding: 5px;
}
